<div class="pathfinder-layout">
  <div class="grid-area"
       (mousedown)="onMouseDown()"
       (mouseup)="onMouseUp()"
       (mouseleave)="onMouseUp()">
    @for (row of grid; track row; let rowIndex = $index) {
      <div>
        @for (tile of row; track tile; let colIndex = $index) {
          <app-tile
            [row]="tile.row"
            [col]="tile.col"
            [type]="tile.type"
            (tileClicked)="handleTileClick($event.row, $event.col)"
            (tileMouseEnter)="onTileMouseEnter(tile.row, tile.col)">
          </app-tile>
        }
      </div>
    }
  </div>
<div class="controls-area">
  <button (click)="bfs()">Start BFS</button>
  <button (click)="resetGrid()">Reset Grid</button>

  <div class="size-controls">
    <div class="input-group">
      <label for="rowCount">Rows:</label>
      <input id="rowCount" type="number" [(ngModel)]="rows" (ngModelChange)="onGridSizeChange()" min="5" max="30">
    </div>
    
    <div class="input-group">
      <label for="colCount">Cols:</label>
      <input id="colCount" type="number" [(ngModel)]="cols" (ngModelChange)="onGridSizeChange()" min="5" max="30">
    </div>
  </div>

  </div>
</div>
